{% extends "layouts/main.njk" %}

{% block content %}

  <section class="content">

    <h1 class="title">{{ title }}</h1>

    {% if date %}
      <h2 class="subtitle">
        <time datetime="{{ page.date | dateymd }}">{{ page.date | datefriendly }}</time>
      </h2>
    {% endif %}

    <div class="level">
      <div class="level-left">
        {% for tag in tags %}
          <div class="level-item">
            <a href="/schlagwort/{{tag | slugify}}">#{{ tag }}</a>
          </div>
        {% endfor %}

        {% for category in categories %}
          <div class="level-item">
            <a href="/kategorie/{{category | slugify}}">#{{ category }}</a>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="columns">
      <div class="column">
        {{ content | safe }}
      </div>
    </div>

  </section>

{% endblock %}