{% extends "layouts/main.njk" %}

{% block content %}

  <h1 class="title">{{ title }}</h1>

  {% if date %}
    <p class="subtitle">
      <time datetime="{{ date | dateymd }}">{{ date | datefriendly }}</time>
    </p>
  {% endif %}

  <div class="level">
    <div class="level-left">
      {% for tag in tags %}
        <div class="level-item">
          <a href="/schlagwort/{{tag | slugify}}">#{{ tag }}</a>
        </div>
      {% endfor %}

      {% for category in categories %}
        <div class="level-item">
          <a href="/kategorie/{{category | slugify}}">#{{ category }}</a>
        </div>
      {% endfor %}
    </div>

    <div class="level-right">
      <div class="level-item">
        <div class="has-text-centered">
          {% coverimage coverImage, title %}

          {{ content | wordcount | readtime }}
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
      {{ content | safe }}
    </div>
  </div>

{% endblock %}