{% extends "page.njk" %}

{% block content %}

  <h1 class="title">{{ title }}</h1>

  {% if date %}
    <p class="subtitle">
      <time datetime="{{ date | dateymd }}">{{ date | datefriendly }}</time>
    </p>
  {% endif %}

  <div class="level">
    <div class="level-left">
      {% for tag in tags %}
        <div class="level-item">
          <a href="/schlagwort/{{tag | slugify}}">#{{ tag }}</a>
        </div>
      {% endfor %}

      {% for category in categories %}
        <div class="level-item">
          <a href="/kategorie/{{category | slugify}}">#{{ category }}</a>
        </div>
      {% endfor %}
    </div>

    <div class="level-right">
      <p class="level-item">{{ content | wordcount | readtime }}</p>
    </div>
  </div>

  {{ content | safe }}

{% endblock %}