{% include '../partials/htmlhead.njk' %}

{% include '../partials/header.njk' %}

<main class="site-main section py-4">
  <div class="container is-max-widescreen">

  {% block content %}

    {{ content | safe }}

  {% endblock %}

  </div>
</main>

{% include '../partials/footer.njk' %}

{% include '../partials/htmlfoot.njk' %}