@charset 'utf-8';

@import 'bulma/sass/utilities/initial-variables';

$family-serif: Montserrat, "Helvetica Neue", sans-serif;
$family-primary: $family-serif;


@import 'bulma/bulma';
/*
$fa-font-path: '_sass/fontawesome-free-6.3.0-web/webfonts';

@import '_sass/fontawesome-free-6.3.0-web/scss/fontawesome.scss';
@import '_sass/fontawesome-free-6.3.0-web/scss/solid.scss';
*/


// stick footer to the bottom
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}


//#region navbar

.navbar .navbar-brand {
  text-align: center;
  display: block;
  width: 100%;
}

.navbar .navbar-brand>.navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;

  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 800;
}

//#endregion


//#region menu

.menu-toggle {
  letter-spacing: 2px;
  line-height: 1;
  margin-bottom: 1.8em;
  text-transform: uppercase;

  background: 0 0;
  color: #000;
  font-size: 12px;
  position: absolute;
  top: 1.8rem;
  left: 16px;
  z-index: 999;
  padding: 6px;
  transition: color 100ms linear;


  &.hamburger {
    @include hamburger(1.5rem);

    width: 6.5em;
    position: absolute;

    div {
      margin-left: 17px;
    }

    span {
      left: auto;
    }
  }

  &.hamburger-dots {
    @include hamburger(1.5rem);

    width: 6.5em;
    position: absolute;

    div {
      margin-left: 17px;
    }

    span {
      left: 20px;
      width: 3px;
      height: 2px;
    }

    &.is-active span {
      height: 1px;
      left: 10px;
      width: 17px;
    }
  }
}

.second-menu-toggle {
  left: auto;
  right: 16px;
}

.menu-navigation {
  background: rgba(255, 255, 255, .99);
  overflow: auto;
  padding-left: 5%;
  padding-right: 5%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  bottom: 0;

  .wrap {
    width: 100%;
    height: 100%;

    max-width: 720px;

    margin-left: auto;
    margin-right: auto;
  }

  .container .columns {
    padding: 4em 0;

    width: 100%;
    height: 100%;
  }
}

//#endregion



.cover-image {
  position: relative;

  img {
    max-width: 100%;
    width: 100%;
    width: auto;
    height: auto;
    height: 300px;
    vertical-align: bottom;
    box-sizing: border-box;
  }
}

.cover-image-placeholder {
  min-height: 300px;
}