{% extends "layouts/main.njk" %}

{% block content %}

  <section class="content">

    {% include "partials/post-header.njk" %}

    <div class="columns is-centered">
      <div class="column is-three-fifths">
        {{ content | safe }}
      </div>
    </div>

    {% include "partials/series-navigation.njk" %}

    {% include "partials/post-credits.njk" %}

    {% include "partials/post-footer.njk" %}

  </section>

  {% include "partials/comments.njk" %}

{% endblock %}
