---
title: Suche
layout: page.njk
eleventyNavigation:
  key: suche
  order: 1000
permalink: /suche/
date created: 2026-04-12
date modified: 2026-04-12
type: page
tags:
  - type/page
---

<link href="/pagefind/pagefind-component-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-component-ui.js" type="module"></script>

<pagefind-config lang="de"></pagefind-config>

<pagefind-input placeholder=" "></pagefind-input>
<pagefind-summary></pagefind-summary>
<pagefind-results></pagefind-results>
