{% if commentsGloballyEnabled %}
{% import "partials/comment.njk" as commentMacros %}
<section class="comments">
  {% set thread = collections.commentsByPost[page.url] %}
  <div class="columns is-centered">
    <div class="column is-three-fifths">
    {% if thread and thread.length > 0 %}
      <h2 class="title is-4">Kommentare</h2>
      {% for comment in thread %}
        {{ commentMacros.renderComment(comment) }}
      {% endfor %}
    {% else %}
      <p class="has-text-grey-light is-size-7">Noch keine Kommentare.</p>
    {% endif %}
    </div>
  </div>
</section>
{% endif %}
