{% if pagelist -%}
  <ul class="columns is-multiline mx-0">
    {%- for post in pagelist -%}
      <li class="column content is-one-third">
        {%- preview post.data.preview, post.data.title, page=post -%}
        <h3 class="title">
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h3>
        {%- if post.data['date created'] -%}
          <p class="subtitle">
            <time datetime="{{ post.data['date created'] | dateymd }}">{{ post.data['date created'] | datefriendly }}</time>
          </p>
        {%- endif -%}
        <p>{% excerpt post %}</p>
      </li>
    {%- endfor -%}
  </ul>
{%- endif %}
