<ul class="tag-cloud">
  {% for tag in collections.tags.all -%}
    <li><a href="{{ tag.path }}{{ tag.title | slugify }}" data-weight="{{ tag.weight }}">{{ tag.title }}</a></li>
  {%- endfor %}
</ul>
