<footer class="footer">
  <div class="container is-max-widescreen">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-5">
            relativ wenig bartwuchs
          </p>
        </div>
      </div>

      <div class="level-right">
        <p class="level-item">
          <a href="/impressum">impressum</a>
        </p>
        <p class="level-item">
          <a href="/datenschutzerklaerung">datenschutz</a>
        </p>
        <p class="level-item">
          <a href="/feed.xml">feed</a>
        </p>
      </div>
    </nav>
  </div>
</footer>